---
import SectionLayout from './SectionLayout.astro';
import GetCopyButton from '../ui/GetCopyButton.astro';
import DownloadFreeChapterButton from '../ui/DownloadFreeChapterButton.astro';

import { COLORS } from '../../lib/colors';
---

<SectionLayout bgColor="grey">
  <div class="max-w-5xl mx-auto px-6 flex flex-col md:flex-row items-center">
    <div class="text-center md:text-left md:w-1/2">
      <h1 class="text-5xl font-extrabold font-barlow leading-tight text-black">
        Unlock Your
        <span
          class="relative inline-block py-1 px-2.5 transform hover:scale-105 transition-all opacity-100"
        >
          <span
            class="absolute inset-0 rounded-lg -rotate-2 blur-sm w-full h-15"
            style={`background-color: ${COLORS.primary}`}></span>
          <span class="relative font-bold text-white">Full Potential</span>
        </span>
        as a Mentor in Tech
      </h1>
      <p class="mt-4 text-lg italic text-gray-600">
        A practical guide to mentoring with confidence and impact.
      </p>
      <div class="mt-6 flex justify-center md:justify-start gap-4">
        <GetCopyButton />
        <DownloadFreeChapterButton
          text="Download a Free Chapter"
          noBorder={true}
        />
      </div>
    </div>

    <div class="mt-10 md:mt-0 md:w-1/2 flex justify-center">
      <img
        src="/KDP-Kindle.jpg"
        alt="The Mentor's Guidebook Book Cover"
        class="w-80 md:w-96 shadow-2xl rounded-lg transform hover:scale-105 transition-all opacity-100"
      />
    </div>
  </div>
</SectionLayout>
