---
import { COLORS } from '../../lib/colors';
---

<a
  href="#get-copy"
  style=`background-color: ${COLORS.secondaryDark}`
  class="transition-all duration-200 transform hover:scale-105 text-white px-6 py-3 rounded-lg text-lg font-semibold shadow-lg transition-all opacity-100"
>
  Get Your Copy
</a>
